# Переименуй меня в conf.ini и удали строки с комментариями

[YouTube]
ApiKey = # Апи ключ отсюда: https://console.developers.google.com/apis/api/youtube.googleapis.com следуя этому мануалу: https://developers.google.com/youtube/v3/getting-started
ChannelId = # https://www.youtube.com/channel/-> ID <- То, что после слэшей.

[Vk]
Login = # Твой логин
Password  = # Твой пароль
AppId = 6323457 # Ты можешь использовать мое приложение вконтакте или свое для репоста. Сам не знаю, зачем это надо.
Owner = # От кого пишем пост. Для групп - вначале пишем минус, для простого пользователя - без минуса.
Socks5IP = # Если используется прокси, вписать IP
Socks5Port = # Если используется прокси, вписать порт