# Переименуй меня в conf.ini и удали строки с комментариями

[Global]
Continuous = 0 # При 1 - зацикливание для хероку

[YouTube]
ApiKey = # Апи ключ отсюда: https://console.developers.google.com/apis/api/youtube.googleapis.com следуя этому мануалу: https://developers.google.com/youtube/v3/getting-started
ChannelId = # https://www.youtube.com/channel/-> ID <- То, что после слэшей.
Ignore = # Ссылка на видео, которое мы не хотим, чтобы попадало в пул.
Через энтер + таб мы добавляем несколько видео, к примеру:
= https://www.youtube.com/watch?v=1Aje6TPKYK4
		 https://www.youtube.com/watch?v=1Aje6TPKYK4
так-же с ChannelId, там тоже список каналов.

[Vk]
Login = # Твой логин
Password  = # Твой пароль
AppId = 6323457 # Ты можешь использовать мое приложение вконтакте или свое для репоста. Сам не знаю, зачем это надо.
Owner = # От кого пишем пост. Для групп - вначале пишем минус, для простого пользователя - без минуса.
VideosCount = # Количство видео, которое ты хочешь запостить за раз
VideosPerDay = # Количество видео, которое ты хочешь запостить за день
Socks5IP = # Если используется прокси, вписать IP
Socks5Port = # Если используется прокси, вписать порт